AERO_422_HW1.synctex.gz
AERO_422_HW1.aux
AERO_422_HW1.log
AERO_422_HW1.fls
AERO_422_HW1.fdb_latexmk

AERO_422_HW2.synctex.gz
AERO_422_HW2.aux
AERO_422_HW2.log
AERO_422_HW2.fls
AERO_422_HW2.fdb_latexmk

AERO_422_HW1_solutions_part2.synctex.gz
AERO_422_HW1_solutions_part2.aux
AERO_422_HW1_solutions_part2.log
AERO_422_HW1_solutions_part2.fls
AERO_422_HW1_solutions_part2.fdb_latexmk

AERO_422_HW2_solutions_part2.synctex.gz
AERO_422_HW2_solutions_part2.aux
AERO_422_HW2_solutions_part2.log
AERO_422_HW2_solutions_part2.fls
AERO_422_HW2_solutions_part2.fdb_latexmk